<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Habits </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="showRemoveButton" (click)="onRemoveHabit()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onAddHabit()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  {{counter}}

  <ion-grid class="ion-no-padding">
    <ion-row class="first-row">
      <ion-col size="6">
      </ion-col>
      <ion-col *ngFor="let dayBefore of [4,3,2,1,0]">
        <div>{{ date | previousDate:dayBefore | date:'E' }}</div>
        <div>{{ date | previousDate:dayBefore | date:'dd' }}</div>
      </ion-col>
    </ion-row>
    <ion-row
      (touchstart)="pressEvent('start', id)"
      (touchend)="pressEvent('end', id)"
      *ngFor="let habit of habits; let id = index"
    >
      <ion-col size="6">
        <ion-label [routerLink]="['/detail-view', id]">{{ habit.name }}</ion-label>
      </ion-col>
      <ng-container *ngIf="habit" (onCreate)="checkLastDatesDone(id)">
        <ion-col *ngFor="let isDone of habit.show; let daysAgo = index" (click)="onHabitCheck(daysAgo, id, isDone)">
            <ion-icon *ngIf="!isDone" name="close-sharp"></ion-icon>
            <ion-icon *ngIf="isDone" name="checkmark-sharp"></ion-icon>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
