<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Habits
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="showRemoveButton" (click)="onRemoveHabit()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onAddHabit()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
{{counter}}

  <ion-list>
    <ion-item (touchstart)="pressEvent()" (touchend)="pressEvent()" (click)="onEditHabit(id)" *ngFor="let habit of habits; let id = index">
      <ion-label>{{ habit.name }}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
