.header-input {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 5%;
    width: 90%;
    border-bottom: 1px solid gray;
    border-right: 1px solid red;
}

.text-input {
    font-size: 14px;
    margin: 0 10px;
}