<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        *ngIf="!isSaved"
        (click)="onSave()"
        name="checkmark"
        color="success"
        slot="end"
      ></ion-icon>
      <ion-back-button *ngIf="isSaved" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="text" color="danger" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea
    rows="1"
    (click)="onClickInput()"
    class="header-input"
    placeholder="Add header"
  ></ion-textarea>
  <ion-input
    (click)="onClickInput()"
    class="text-input"
    placeholder="Add content"
  ></ion-input>
</ion-content>
