<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        *ngIf="!isSaved"
        (click)="onSave()"
        name="checkmark"
        color="success"
        slot="end"
      ></ion-icon>
      <ion-back-button *ngIf="isSaved" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="text" color="danger" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form *ngIf="true" #currentNote="ngForm">
    <ion-textarea
      rows="1"
      (input)="onChangeInput()"
      class="header-input"
      placeholder="Add header"
      maxlength="80"
      ngModel
      name="header"
    ></ion-textarea>

    <ion-textarea
      (input)="onChangeInput()"
      class="text-input"
      placeholder="Add text here"
      autosize
      ngModel
      name="text"
    ></ion-textarea>
  </form> -->
  <form [formGroup]="editNoteForm">
    <ion-textarea
      rows="1"
      (input)="onChangeInput()"
      class="header-input"
      placeholder="Add header"
      maxlength="80"
      formControlName="header"
    ></ion-textarea>

    <ion-textarea
      (input)="onChangeInput()"
      class="text-input"
      placeholder="Add text here"
      autosize
      formControlName="text"
    ></ion-textarea>
  </form>
</ion-content>
