.date {
  font-size: 12px;
  color: gray;
}

.header {
  font-size: 20px;
  font-weight: 500;
}

.text {
  font-size: 14px;
  color: black;
}


ion-fab-button {
  overflow: visible;
  position: relative;

  ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0,0,0,0.7);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
  }
}

ion-fab {
  contain: layout;
}

.custom-fab {
  display: flex;
  align-items: center;
}
ion-fab[horizontal="start"] .custom-fab {
  flex-direction: row-reverse;
}
.custom-fab ion-button {
  --height: 25px;
  text-transform: none;
}

ion-fab[vertical="bottom"][horizontal="end"] ion-fab-list {
  right: 0;
  align-items: flex-end;
}

ion-fab-button[size="small"] {
  --size: 32px;
}